<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Karsu Automate Working Hours Submit</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

  </head>

  <body class="h-screen overflow-hidden flex items-center justify-center" style="background: #282C34;">
  {% block body %}{% endblock %}
  </body>
